$white-primary: #fff;
$black-primary: #000;
$black-secondary: #1c1c1e;
$black-secondary-hover: #232327;
$gray-primary: #47474c;
$gray-secondary: #8e8e98;
$green-primary: #25e197;
$yellow-primary: #ffd233;

$large-desktop: 1440px;
$medium-desktop: 1920px;
$small-desktop: 1280px;
$laptop: 1024px;
$tablet: 768px;
$between-tablet-and-mobile: 680px;
$large-mobile: 425px;
$medium-mobile: 375px;
$small-mobile: 320px;
