.button {
  -webkit-appearance: none;
  -moz-appearance: none;

  background-color: $gray-primary;
  color: $white-primary;

  @include font_settings(400, 1.4rem, 1.7);

  border: none;
  height: 5rem;
  padding: 0;

  transition: opacity linear .2s;

  &:hover {
    cursor: pointer;
    opacity: 50%;
  }
}
