.form {
  display: flex;
  flex-direction: column;

  &__container-with-input-and-button {
    display: flex;
    flex-direction: row;
  }

  &_location_header {
    margin: 23rem 0 0 0;

    @media screen and (max-width: $tablet) {
      margin-top: 47rem;
    }

    @media screen and (max-width: $large-mobile) {
      margin-top: 26rem;
    }
  }

  &_location_footer {
    width: 100%;
    margin: 8.4rem 0 6rem 0;

    @media screen and (max-width: $large-mobile) {
      margin: 18.4rem 0 4rem 0;
    }
  }

  &__description {
    @include font_settings(400, 1.2rem, 1.5);
    color: $gray-primary;

    order: 3;

    &_location_header {
      margin: 1.2rem 0 0 1rem;

      @media screen and (max-width: $tablet) {
        margin-top: 1rem;
      }
    }

    &_location_footer {
      margin: 1.8rem 0 0 0;

      @media screen and (max-width: $large-mobile) {
        margin-top: 1rem;
      }
    }

    &:hover {
      cursor: default;
    }

    @media screen and (max-width: $large-mobile) {
      margin-left: .2rem;
    }
  }

  &__input-field {
    outline: none;
    border: 0;
    background: rgba(142, 142, 152, 0.2);
    color: $white-primary;

    border-radius: .8rem 0 0 .8rem;

    @include font_settings(400, 1.4rem, 1.7);
    letter-spacing: .038rem;
    padding: 0 0 0 1.6rem;

    width: 33.2rem;
    height: 5rem;

    &_location_header {
      @media screen and (max-width: $tablet) {
        width: 55.8%;
      }

      @media screen and (max-width: $large-mobile) {
        width: 21.3rem;
      }
    }

    &_location_footer {
      @media screen and (max-width: $large-mobile) {
        width: 21.3rem;
      }
    }

    &:hover {
      cursor: text;
      background: rgba(142, 142, 152, 0.3);
    }

  }

  &__button {
    border-radius: 0 .8rem .8rem 0;

    width: 22.1rem;

    &_location_header {
      @media screen and (max-width: $between-tablet-and-mobile) {
        width: 20%;
      }

      @media screen and (max-width: $large-mobile) {
        width: calc(100% - 24.9rem);
      }
    }

    &_location_footer {
      @media screen and (max-width: $large-mobile) {
        width: calc(100% - 22.9rem);
      }
    }

    &:before {
      content: attr(data-before);

      @media screen and (max-width: $between-tablet-and-mobile) {
        content: '';
      }
    }

  }
}
